<VirtualHost *:80>
    ServerAdmin webmaster@localhost

    DocumentRoot /var/www/{{server_hostname}}
    <Directory /var/www/{{server_hostname}}/>
        Options -Indexes +Includes +FollowSymLinks +Multiviews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    ErrorLog /var/log/httpd/error.log
    CustomLog /var/log/httpd/access.log combined

</VirtualHost>
